<footer class="footer">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-3 mb-4 text-center text-md-start">
                <h4 class="footer-logo mb-2"><span class="text-white">Book</span><span style="color: #0bb9d0;">Store</span></h4>
                <img src="/img/logolibro.png" alt="Logo Book Store" class="footer-logo-img" width="80">
            </div>
            <div class="col-md-3 mb-4 text-center text-md-start">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/inicio" class="footer-link">Inicio</a></li>
                    <li><a routerLink="/catalogo" class="footer-link">Libros</a></li>
                    <li><a routerLink="/prestamos" class="footer-link">Ofertas</a></li>
                    <li><a routerLink="/contacto" class="footer-link">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4 text-center text-md-start">
                <h5>Categorías</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Lo Mejor</a></li>
                    <li><a href="#" class="footer-link">Cuentos Top</a></li>
                    <li><a href="#" class="footer-link">Novelas Pop</a></li>
                    <li><a href="#" class="footer-link">Novedades Nuevas</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4 text-center">
                <h5>Síguenos</h5>
                <div class="d-flex justify-content-center gap-3 mt-2">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <hr class="bg-secondary">
        <div class="row">
            <div class="col text-center">
                <p class="mb-0 copyright">&copy; 2025 Book Store. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>